body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FCFCFC;
}

main {
    flex: 1 0 auto;
}

.custard-color{
    background: none;
    background-color: #265F76 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #FFF inset !important;
}

.grid-view .pagination{
    text-align: center;
}
.grid-view .summary{
    text-align: center;
}
.pagination li.active {
    background-color: #009688;
}
a {
    color: #009688;
}

textarea.materialize-textarea {
    max-height: 300px;
    overflow-y: auto;
}
